### This notebook allows the user to create a directory structure and locally upload the metadata to the MILE2 repository.

In [2]:
import pandas as pd
import os
from os import walk
import shutil
from ipywidgets import *
import ipywidgets as widgets
import requests
from contextlib import closing
import csv
import io
from IPython.display import display

### Now let's select some metadata.

Create a list of subdirectories in the collection directory of MILE2 to select metadata for evaluation

In [3]:
def OrganizationChoices(organization):
    global OrganizationChoice
    global Organization
    Organization=organization
    print("Curating Organization", Organization)
    
def CollectionName(collection):
    global CollectionChoice
    global Collection
    Collection=collection
    print("Collection is named", Collection)
    
def DialectName(dialect):
    global DialectChoice
    global Dialect
    Dialect=dialect
    print("Collection is written in the", Dialect,"dialect")   
    
def metadataLocation(directory):
    global LocationChoice
    global MetadataLocation
    MetadataLocation=directory
    print("The local directory", MetadataLocation,"contains the metadata for evaluation")    
    
w=interactive(OrganizationChoices, organization='')    

w2=interactive(CollectionName, collection='')

w3=interactive(DialectName, dialect='')

w4=interactive(metadataLocation, directory='')    

display(w)
display(w2)
display(w3)
display(w4)

Copy the metadata to the new directory structure.

In [5]:
%cd ../zip
MetadataDestination=os.path.join(Organization,Collection,Dialect,'xml')
os.makedirs(MetadataDestination, exist_ok=True)

src_files = os.listdir(MetadataLocation)
for file_name in src_files:
    full_file_name = os.path.join(MetadataLocation, file_name)
    if (os.path.isfile(full_file_name)):
        shutil.copy(full_file_name, MetadataDestination)
shutil.make_archive('../upload/metadata', 'zip', os.getcwd())

/Users/scgordon/Evaluator/zip

'/Users/scgordon/Evaluator/upload/metadata.zip'

In [6]:
%cd ../upload 
# Send metadata package, read the response into a dataframe
url = 'http://metadig.nceas.ucsb.edu/metadata/evaluator'
files = {'zipxml': open('metadata.zip', 'rb')}
r = requests.post(url, files=files, headers={"Accept-Encoding": "gzip"})
r.raise_for_status()
EvaluatedMetadataDF = pd.read_csv(io.StringIO(r.text), quotechar='"')

#build filepaths and file names
Filedirectory=os.path.join('../data/',Organization)
Filename='/'+Collection+'_'+Dialect+'_Evaluated.csv.gz'
SimplfiedFilename='/'+Collection+'_'+Dialect+'_EvaluatedSimplified.csv.gz'
FilePath=Filedirectory+Filename
SimplifiedFilePath=Filedirectory+SimplfiedFilename
EvaluatedMetadataDF.insert(3, 'Collection', Organization+'_'+Collection+'_'+Dialect)

EvaluatedMetadataDF.to_csv(FilePath, mode = 'w', compression='gzip', index=False)

#Change directories, delete upload directory and zip. Delete copied metadata.
%cd ../
shutil.rmtree('upload')
%cd zip
shutil.rmtree(Organization)
%cd ../data

#Create a simplified XPath output
EvaluatedSimplifiedMetadataDF = EvaluatedMetadataDF.copy()
EvaluatedSimplifiedMetadataDF['XPath']=EvaluatedSimplifiedMetadataDF['XPath'].str.replace('/gco:CharacterString', '')
EvaluatedSimplifiedMetadataDF['XPath']=EvaluatedSimplifiedMetadataDF['XPath'].str.replace('/[a-z]+:+?', '/')
EvaluatedSimplifiedMetadataDF['XPath']=EvaluatedSimplifiedMetadataDF['XPath'].str.replace('/[A-Z]+_[A-Za-z]+/?', '/')
EvaluatedSimplifiedMetadataDF['XPath']=EvaluatedSimplifiedMetadataDF['XPath'].str.replace('//', '/')
EvaluatedSimplifiedMetadataDF['XPath']=EvaluatedSimplifiedMetadataDF['XPath'].str.rstrip('//')
EvaluatedSimplifiedMetadataDF.to_csv(SimplifiedFilePath, mode = 'w', compression='gzip', index=False)

/Users/scgordon/Evaluator/upload
/Users/scgordon/Evaluator
/Users/scgordon/Evaluator/zip
/Users/scgordon/Evaluator/data

,Concept,Content,Record,Collection,XPath
0,Abstract,"Nanomolar concentrations of PO4, NO3, NO2 (sur...",dataset_3470.xml,a_d_c,/identificationInfo/abstract
1,Acknowledgement,Funding provided by NSF Ocean Sciences (NSF OC...,dataset_3470.xml,a_d_c,/identificationInfo/credit
2,Acknowledgement,Funding provided by NSF Ocean Sciences (NSF OC...,dataset_3470.xml,a_d_c,/identificationInfo/credit
3,Address,WHOI MS#36,dataset_3470.xml,a_d_c,/contact/contactInfo/address/deliveryPoint
4,Address,"Department of Ocean, Earth, and Atmospheric Sc...",dataset_3470.xml,a_d_c,/identificationInfo/pointOfContact/contactInfo...
5,Address,WHOI MS#36,dataset_3470.xml,a_d_c,/contentInfo/featureCatalogueCitation/citedRes...
6,Address,WHOI MS#36,dataset_3470.xml,a_d_c,/distributionInfo/distributor/distributorConta...
7,Address,WHOI MS#36,dataset_3470.xml,a_d_c,/metadataMaintenance/contact/contactInfo/addre...
8,AssociatedDIFs,U.S. GEOTRACES,dataset_3470.xml,a_d_c,/identificationInfo/aggregationInfo/aggregateD...
9,AssociatedDIFs,U.S. GEOTRACES NAT,dataset_3470.xml,a_d_c,/identificationInfo/aggregationInfo/aggregateD...
10,Association,U.S. GEOTRACES http://www.geotraces.org/ U.S. ...,dataset_3470.xml,a_d_c,/identificationInfo/aggregationInfo
11,Association,U.S. GEOTRACES North Atlantic Transect http://...,dataset_3470.xml,a_d_c,/identificationInfo/aggregationInfo
12,Attribute Definition,PI-supplied Description: Official cruise ident...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
13,Attribute Definition,PI-supplied Description: date (GMT); General D...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
14,Attribute Definition,PI-supplied Description: time (GMT); General D...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
15,Attribute Definition,PI-supplied Description: Station latitude (Sou...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
16,Attribute Definition,PI-supplied Description: Station longitude (We...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
17,Attribute Definition,PI-supplied Description: Identifying number of...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
18,Attribute Definition,PI-supplied Description: Unique identifiers fo...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
19,Attribute Definition,PI-supplied Description: PO4: phosphate (react...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
20,Attribute Definition,PI-supplied Description: PO4 Data Flag: Sample...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
21,Attribute Definition,PI-supplied Description: NO3: Nitrate = (Nitra...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
22,Attribute Definition,PI-supplied Description: NO3 Data Flag: Sample...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
23,Attribute Definition,PI-supplied Description: NO2: Nitrite; General...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
24,Attribute Definition,PI-supplied Description: NO2 Data Flag: Sample...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
25,Attribute Definition,PI-supplied Description: Remarks; General Desc...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
26,Attribute Definition,PI-supplied Description: Unique identifying nu...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
27,Attribute Definition,PI-supplied Description: Unique identifying nu...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
28,Attribute Definition,PI-supplied Description: Date/Time (UTC) forma...,dataset_3470.xml,a_d_c,/contentInfo/dimension/descriptor
29,Attribute Label,cruise_id,dataset_3470.xml,a_d_c,/contentInfo/dimension/sequenceIdentifier/Memb...
...,...,...,...,...,...
133489,Unknown,Cruise,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133490,Unknown,onRequest,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133491,Unknown,unknown,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133492,Unknown,Dr William J. Jenkins,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133493,Unknown,http://lod.bco-dmo.org/id/person/50745.rdf,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133494,Unknown,onRequest,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133495,Unknown,Woods Hole Oceanographic Institution,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133496,Unknown,http://lod.bco-dmo.org/id/affiliation/2.rdf,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133497,Unknown,Affiliation,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133498,Unknown,onRequest,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133499,Unknown,http://bcodata.whoi.edu/US_GEOTRACES/AtlanticS...,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133500,Unknown,Report describing KN199-04,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133501,Unknown,http://www.isotc211.org/2005/resources/Codelis...,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133502,Unknown,principalInvestigator,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133503,Unknown,Cruise: KN199-05,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/description
133504,Unknown,KN199-05,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/identifier/c...
133505,Unknown,http://lod.bco-dmo.org/id/deployment/58142.rdf,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/identifier/c...
133506,Unknown,KN199-05,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133507,Unknown,http://lod.bco-dmo.org/id/deployment/58142.rdf,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133508,Unknown,Cruise: KN204-01,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/description
133509,Unknown,KN204-01,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/identifier/c...
133510,Unknown,http://lod.bco-dmo.org/id/deployment/58786.rdf,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/identifier/c...
133511,Unknown,KN204-01,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133512,Unknown,http://lod.bco-dmo.org/id/deployment/58786.rdf,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133513,Unknown,Dr Edward A. Boyle,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133514,Unknown,http://lod.bco-dmo.org/id/person/50984.rdf,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133515,Unknown,Massachusetts Institute of Technology,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133516,Unknown,http://lod.bco-dmo.org/id/affiliation/222.rdf,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133517,Unknown,http://bcodata.whoi.edu/US_GEOTRACES/AtlanticS...,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...
133518,Unknown,Report describing KN204-01,dataset_651138.xml,a_d_c,/acquisitionInformation/operation/plan/citatio...

In [28]:
FiledirectoryRAD=os.path.join('../data/',Organization)
FilenameRAD='/'+Collection+'_'+Dialect+'_RAD.csv'
FilePathRAD=FiledirectoryRAD+FilenameRAD
group_name = EvaluatedSimplifiedMetadataDF.groupby(['Collection','Record', 'Concept'], as_index=False)
occuranceMatrix=group_name.size().unstack().reset_index()
occuranceMatrix=occuranceMatrix.fillna(0)
pd.options.display.float_format = '{:,.0f}'.format
occuranceMatrix.to_csv(FilePathRAD, mode = 'w', index=False)
occuranceMatrix

Concept,Collection,Record,Abstract,Acknowledgement,Address,AssociatedDIFs,Association,Attribute Definition,Attribute Label,Author / Originator,...,Start Time,Temporal Extent,Theme Keyword,Topic Category,URL,Units,Unknown,VariableType,Web Page,Westernmost Longitude
0,a_d_c,dataset_3470.xml,1,2,5,2,2,17,17,1,...,0,1,15,1,1,17,477,1,7,1
1,a_d_c,dataset_3484.xml,1,2,5,2,2,5,5,1,...,0,1,6,1,1,5,352,1,7,1
2,a_d_c,dataset_3485.xml,1,2,5,2,2,14,14,1,...,0,1,14,1,1,14,429,1,7,1
3,a_d_c,dataset_3486.xml,1,2,5,2,2,16,16,1,...,0,1,15,1,1,16,455,1,7,1
4,a_d_c,dataset_3508.xml,1,2,5,2,2,10,10,1,...,0,1,10,1,1,10,398,1,7,1
5,a_d_c,dataset_3510.xml,1,2,5,2,2,11,11,1,...,0,1,11,1,1,11,408,1,7,1
6,a_d_c,dataset_3513.xml,1,2,5,2,2,11,11,1,...,0,1,10,1,1,11,395,1,7,1
7,a_d_c,dataset_3514.xml,1,2,5,2,2,10,10,1,...,0,1,9,1,1,10,385,1,7,1
8,a_d_c,dataset_3515.xml,1,2,5,2,2,11,11,1,...,0,1,10,1,1,11,395,1,7,1
9,a_d_c,dataset_3516.xml,1,2,5,2,2,27,27,1,...,0,1,24,1,1,27,584,1,7,1
10,a_d_c,dataset_3517.xml,1,2,5,2,2,248,249,1,...,0,1,91,1,1,249,"1,992",1,7,1
11,a_d_c,dataset_3518.xml,1,2,5,2,2,29,29,1,...,0,1,26,1,1,29,605,1,7,1
12,a_d_c,dataset_3519.xml,1,2,5,2,2,169,169,1,...,0,1,90,1,1,169,"1,523",1,7,1
13,a_d_c,dataset_3520.xml,1,2,5,2,2,14,14,1,...,0,1,17,1,1,14,464,1,7,1
14,a_d_c,dataset_3521.xml,1,2,5,2,2,22,22,1,...,0,1,21,1,1,22,537,1,7,1
15,a_d_c,dataset_3659.xml,1,2,5,2,2,17,17,1,...,0,1,17,1,1,17,464,1,7,1
16,a_d_c,dataset_3662.xml,1,2,5,2,2,174,174,1,...,0,1,91,1,1,174,"1,535",1,7,1
17,a_d_c,dataset_3664.xml,1,2,5,2,2,15,15,1,...,0,1,17,1,1,15,472,1,7,1
18,a_d_c,dataset_3671.xml,1,2,5,2,2,12,12,1,...,0,1,12,1,1,12,417,1,7,1
19,a_d_c,dataset_3672.xml,1,2,5,2,2,12,12,1,...,0,1,11,1,1,12,404,1,7,1
20,a_d_c,dataset_3673.xml,1,2,5,2,2,12,12,1,...,0,1,12,1,1,12,417,1,7,1
21,a_d_c,dataset_3674.xml,1,2,5,2,2,12,12,1,...,0,1,11,1,1,12,404,1,7,1
22,a_d_c,dataset_3687.xml,1,2,5,2,2,269,270,1,...,0,1,268,1,1,270,"2,246",1,7,0
23,a_d_c,dataset_3692.xml,1,1,5,2,2,40,40,1,...,0,1,37,1,1,40,725,1,8,1
24,a_d_c,dataset_3696.xml,1,2,5,2,2,5,5,1,...,0,1,6,1,1,5,344,1,7,1
25,a_d_c,dataset_3698.xml,1,2,5,2,2,27,27,1,...,0,1,25,1,1,27,588,1,7,1
26,a_d_c,dataset_3699.xml,1,2,5,2,2,27,27,1,...,0,1,27,1,1,27,607,1,7,1
27,a_d_c,dataset_3746.xml,1,2,5,2,2,12,12,1,...,0,1,12,1,1,12,417,1,7,1
28,a_d_c,dataset_3821.xml,1,1,5,2,2,20,20,1,...,0,1,21,1,1,20,525,1,7,1
29,a_d_c,dataset_3822.xml,1,2,5,2,2,21,21,1,...,0,1,20,1,1,21,528,1,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,a_d_c,dataset_549122.xml,1,1,5,2,2,34,34,1,...,1,1,23,2,1,34,622,1,8,1
88,a_d_c,dataset_558538.xml,1,2,5,2,2,42,42,1,...,0,1,37,1,1,42,760,1,7,1
89,a_d_c,dataset_637784.xml,1,2,5,3,3,17,17,1,...,0,1,17,1,1,17,508,1,9,0
90,a_d_c,dataset_639016.xml,1,0,5,2,2,25,29,1,...,0,1,19,1,1,29,575,1,7,1
91,a_d_c,dataset_639847.xml,1,3,6,4,4,71,88,2,...,0,1,51,1,1,88,951,1,9,0
92,a_d_c,dataset_641044.xml,1,1,5,3,3,23,31,1,...,1,1,15,1,1,31,555,1,8,1
93,a_d_c,dataset_642974.xml,1,1,5,3,3,31,31,1,...,0,1,19,1,1,31,584,1,8,0
94,a_d_c,dataset_643213.xml,1,2,5,3,3,39,39,1,...,0,1,28,1,1,39,658,1,8,0
95,a_d_c,dataset_643270.xml,1,1,5,3,3,33,33,1,...,1,1,23,1,1,33,591,1,8,1
96,a_d_c,dataset_643316.xml,1,2,5,3,3,23,23,1,...,0,1,20,1,1,23,530,1,8,0
97,a_d_c,dataset_643423.xml,1,1,5,3,3,39,39,1,...,0,1,13,1,1,39,593,1,8,0
98,a_d_c,dataset_643494.xml,1,2,5,3,3,28,35,1,...,0,1,17,1,1,35,598,1,8,0
99,a_d_c,dataset_643578.xml,1,2,5,3,3,14,15,1,...,0,1,13,1,1,15,463,1,8,0
100,a_d_c,dataset_643592.xml,1,2,5,3,3,31,31,1,...,0,1,22,1,1,31,598,1,8,0
101,a_d_c,dataset_643639.xml,1,1,5,3,3,38,50,1,...,0,1,22,1,1,50,710,1,8,1
102,a_d_c,dataset_643809.xml,1,1,5,3,3,33,33,1,...,0,1,18,1,1,33,592,1,8,1
103,a_d_c,dataset_644607.xml,1,1,5,3,3,36,36,1,...,0,1,24,1,1,36,633,1,8,0
104,a_d_c,dataset_644765.xml,1,1,5,2,2,24,24,1,...,0,1,23,1,0,24,551,1,8,0
105,a_d_c,dataset_646143.xml,1,1,5,3,3,18,18,1,...,1,1,18,1,1,18,488,1,8,0
106,a_d_c,dataset_646842.xml,1,1,5,2,2,20,20,1,...,0,1,16,1,1,20,488,1,7,0
107,a_d_c,dataset_647580.xml,1,1,5,3,3,22,22,1,...,1,1,18,1,1,22,530,1,8,0
108,a_d_c,dataset_647606.xml,1,1,5,3,3,26,26,1,...,1,1,20,1,1,26,570,1,8,0
109,a_d_c,dataset_647909.xml,1,1,5,3,3,14,14,1,...,1,1,14,1,1,14,458,1,8,0
110,a_d_c,dataset_648030.xml,1,1,5,3,3,22,26,1,...,1,1,14,1,1,26,526,1,8,0
111,a_d_c,dataset_648543.xml,1,3,6,4,4,71,88,2,...,0,1,53,1,1,88,967,1,9,0
112,a_d_c,dataset_648753.xml,1,1,5,3,3,29,29,1,...,0,1,18,1,1,29,567,1,8,0
113,a_d_c,dataset_650087.xml,1,1,5,3,3,26,26,1,...,0,1,19,1,1,26,545,1,8,0
114,a_d_c,dataset_650135.xml,1,0,5,2,2,30,30,1,...,0,1,21,1,1,30,552,1,7,1
115,a_d_c,dataset_650340.xml,1,1,5,3,3,21,21,1,...,0,1,18,1,1,21,513,1,8,0
116,a_d_c,dataset_651138.xml,1,2,5,3,3,42,42,1,...,0,1,16,1,1,42,661,1,9,0

In [26]:
FiledirectoryQuickE=os.path.join('../data/',Organization)
FilenameQuickE='/'+Collection+'_'+Dialect+'_QuickE.csv'
FilePathQuickE=FiledirectoryQuickE+FilenameQuickE
group_name = EvaluatedSimplifiedMetadataDF.groupby(['XPath', 'Record'], as_index=False)
QuickEdf=group_name.size().unstack().reset_index()
QuickEdf=QuickEdf.fillna(0)
pd.options.display.float_format = '{:,.0f}'.format
QuickEdf.to_csv(FilePathQuickE, mode = 'w', index=False)
QuickEdf

Record,XPath,dataset_3470.xml,dataset_3484.xml,dataset_3485.xml,dataset_3486.xml,dataset_3508.xml,dataset_3510.xml,dataset_3513.xml,dataset_3514.xml,dataset_3515.xml,...,dataset_647580.xml,dataset_647606.xml,dataset_647909.xml,dataset_648030.xml,dataset_648543.xml,dataset_648753.xml,dataset_650087.xml,dataset_650135.xml,dataset_650340.xml,dataset_651138.xml
0,/@xsi:schemaLocation,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,/acquisitionInformation/instrument,1,1,0,0,1,1,0,0,0,...,4,6,3,3,3,3,2,0,2,3
2,/acquisitionInformation/instrument/description,1,1,0,0,1,1,0,0,0,...,4,6,3,3,3,3,2,0,2,3
3,/acquisitionInformation/instrument/identifier/...,2,2,0,0,2,2,0,0,0,...,8,12,6,6,6,2,4,0,4,6
4,/acquisitionInformation/instrument/identifier/...,1,1,0,0,1,1,0,0,0,...,4,5,3,3,3,0,2,0,2,3
5,/acquisitionInformation/instrument/identifier/...,1,1,0,0,1,1,0,0,0,...,1,1,1,1,1,1,1,0,1,1
6,/acquisitionInformation/instrument/identifier/...,1,1,0,0,1,1,0,0,0,...,4,6,3,3,3,3,2,0,2,3
7,/acquisitionInformation/instrument/identifier/...,1,1,0,0,1,1,0,0,0,...,4,6,3,3,3,3,2,0,2,3
8,/acquisitionInformation/instrument/type,2,2,0,0,2,2,0,0,0,...,8,11,6,6,6,1,4,0,4,6
9,/acquisitionInformation/operation/description,2,2,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,3
10,/acquisitionInformation/operation/identifier/code,2,2,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,3
11,/acquisitionInformation/operation/identifier/c...,2,2,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,3
12,/acquisitionInformation/operation/identifier/c...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
13,/acquisitionInformation/operation/identifier/c...,2,2,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,3
14,/acquisitionInformation/operation/identifier/c...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
15,/acquisitionInformation/operation/parentOperat...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
16,/acquisitionInformation/operation/plan/citatio...,2,2,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,3
17,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
18,/acquisitionInformation/operation/plan/citatio...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,4
19,/acquisitionInformation/operation/plan/citatio...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,4
20,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
21,/acquisitionInformation/operation/plan/citatio...,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,8
22,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
23,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
24,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
25,/acquisitionInformation/operation/plan/citatio...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,4
26,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
27,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
28,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
29,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,/metadataMaintenance/contact/contactInfo,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
329,/metadataMaintenance/contact/contactInfo/addre...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
330,/metadataMaintenance/contact/contactInfo/addre...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
331,/metadataMaintenance/contact/contactInfo/addre...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
332,/metadataMaintenance/contact/contactInfo/addre...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
333,/metadataMaintenance/contact/contactInfo/addre...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
334,/metadataMaintenance/contact/contactInfo/addre...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
335,/metadataMaintenance/contact/contactInfo/conta...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
336,/metadataMaintenance/contact/contactInfo/hours...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
337,/metadataMaintenance/contact/contactInfo/onlin...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
338,/metadataMaintenance/contact/contactInfo/onlin...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
339,/metadataMaintenance/contact/contactInfo/phone...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
340,/metadataMaintenance/contact/contactInfo/phone...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
341,/metadataMaintenance/contact/organisationName,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
342,/metadataMaintenance/contact/organisationName/...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
343,/metadataMaintenance/contact/organisationName/...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
344,/metadataMaintenance/contact/organisationName/...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
345,/metadataMaintenance/contact/role,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
346,/metadataMaintenance/contact/role/@codeList,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
347,/metadataMaintenance/contact/role/@codeListValue,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
348,/metadataMaintenance/contact/role/@codeSpace,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
349,/metadataMaintenance/maintenanceAndUpdateFrequ...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
350,/metadataMaintenance/maintenanceAndUpdateFrequ...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
351,/metadataMaintenance/maintenanceAndUpdateFrequ...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
352,/metadataMaintenance/maintenanceAndUpdateFrequ...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
353,/metadataMaintenance/maintenanceNote,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
354,/metadataStandardName,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
355,/metadataStandardVersion,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
356,/referenceSystemInfo/@xlink:href,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
357,/referenceSystemInfo/@xlink:title,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [29]:
FiledirectoryOccurance=os.path.join('../data/',Organization)
FilenameOccurance='/'+Organization+'_'+Collection+'_'+Dialect+'_Occurance.csv'
FilePathOccurance=FiledirectoryOccurance+FilenameOccurance

group_name = EvaluatedSimplifiedMetadataDF.groupby(['Record', 'Concept'], as_index=False)
occuranceMatrix=group_name.size().unstack().reset_index()
occuranceMatrix=occuranceMatrix.fillna(0)
occuranceSum=occuranceMatrix.sum()
occuranceCount=occuranceMatrix[occuranceMatrix!=0].count()
CollectionName=FilenameOccurance.partition("/")[2].partition("_Occurance.csv")[0]
result = pd.concat([occuranceSum, occuranceCount], axis=1).reset_index()
result.insert(1, 'Collection', CollectionName)
result.insert(4, 'CollectionOccurance%', CollectionName)
result.insert(4, 'AverageOccurancePerRecord', CollectionName)
result.columns = ['Concept', 'Collection', 'ConceptCount', 'RecordCount', 'AverageOccurancePerRecord', 'CollectionOccurance%' ]
NumberOfRecords = result.at[0, 'ConceptCount'].count('.xml')
result['CollectionOccurance%'] = result['RecordCount']/NumberOfRecords
result['CollectionOccurance%'] = pd.Series(["{0:.2f}%".format(val * 100) for val in result['CollectionOccurance%']], index = result.index)
result.at[0, 'ConceptCount'] = NumberOfRecords
result.at[0, 'Concept'] = 'Number of Records'
result['AverageOccurancePerRecord'] = result['ConceptCount']/NumberOfRecords
result['AverageOccurancePerRecord'] = result['AverageOccurancePerRecord'].astype(float)
result[["ConceptCount","RecordCount"]] = result[["ConceptCount","RecordCount"]].astype(int)
result['AverageOccurancePerRecord'] = pd.Series(["{0:.2f}".format(val) for val in result['AverageOccurancePerRecord']], index = result.index)
result.to_csv(FilePathOccurance, mode = 'w', index=False)
result

,Concept,Collection,ConceptCount,RecordCount,AverageOccurancePerRecord,CollectionOccurance%
0,Number of Records,a_d_c,117,117,1.00,100.00%
1,Abstract,a_d_c,117,117,1.00,100.00%
2,Acknowledgement,a_d_c,191,115,1.63,98.29%
3,Address,a_d_c,592,117,5.06,100.00%
4,AssociatedDIFs,a_d_c,261,117,2.23,100.00%
5,Association,a_d_c,261,117,2.23,100.00%
6,Attribute Definition,a_d_c,4132,117,35.32,100.00%
7,Attribute Label,a_d_c,4385,117,37.48,100.00%
8,Author / Originator,a_d_c,125,117,1.07,100.00%
9,Bounding Box,a_d_c,88,88,0.75,75.21%
10,Cited Resource Identifier,a_d_c,2,2,0.02,1.71%
11,Cited Resource Title,a_d_c,1700,117,14.53,100.00%
12,City,a_d_c,591,117,5.05,100.00%
13,Contact Instructions,a_d_c,468,117,4.00,100.00%
14,Country,a_d_c,579,117,4.95,100.00%
15,Data Quality Scope,a_d_c,117,117,1.00,100.00%
16,DataType,a_d_c,1954,117,16.70,100.00%
17,DimensionsName,a_d_c,4385,117,37.48,100.00%
18,Distribution Contact,a_d_c,117,117,1.00,100.00%
19,Easternmost Longitude,a_d_c,88,88,0.75,75.21%
20,Email,a_d_c,589,117,5.03,100.00%
21,End Time,a_d_c,9,9,0.08,7.69%
22,Enumerated Domain Value Definition Source,a_d_c,571,117,4.88,100.00%
23,Fax,a_d_c,468,117,4.00,100.00%
24,Feature Catalogue Citation,a_d_c,234,117,2.00,100.00%
25,First Name,a_d_c,408,117,3.49,100.00%
26,Geographic Description,a_d_c,117,117,1.00,100.00%
27,Hours of Service,a_d_c,468,117,4.00,100.00%
28,Instrument,a_d_c,268,103,2.29,88.03%
29,Instrument Keyword,a_d_c,268,103,2.29,88.03%
...,...,...,...,...,...,...
73,Related Resource Identifier,a_d_c,667,117,5.70,100.00%
74,Reprocessing Plan Note,a_d_c,117,117,1.00,100.00%
75,Resource Access Constraints,a_d_c,234,117,2.00,100.00%
76,Resource Contact,a_d_c,125,117,1.07,100.00%
77,Resource Creation/Revision Date,a_d_c,117,117,1.00,100.00%
78,Resource Identifier,a_d_c,2,2,0.02,1.71%
79,Resource Language,a_d_c,117,117,1.00,100.00%
80,Resource Lineage,a_d_c,117,117,1.00,100.00%
81,Resource Long Name,a_d_c,117,117,1.00,100.00%
82,Resource Status,a_d_c,117,117,1.00,100.00%
83,Resource Title,a_d_c,117,117,1.00,100.00%
84,Resource Type,a_d_c,117,117,1.00,100.00%
85,Resource Update Frequency,a_d_c,117,117,1.00,100.00%
86,Resource Use Constraints,a_d_c,117,117,1.00,100.00%
87,Responsibility,a_d_c,1962,117,16.77,100.00%
88,Rights,a_d_c,117,117,1.00,100.00%
89,Role,a_d_c,819,117,7.00,100.00%
90,Southernmost Latitude,a_d_c,88,88,0.75,75.21%
91,Spatial Extent,a_d_c,88,88,0.75,75.21%
92,Standard Name Vocabulary,a_d_c,571,117,4.88,100.00%
93,Start Time,a_d_c,9,9,0.08,7.69%
94,Temporal Extent,a_d_c,117,117,1.00,100.00%
95,Theme Keyword,a_d_c,3106,117,26.55,100.00%
96,Topic Category,a_d_c,118,117,1.01,100.00%
97,URL,a_d_c,116,116,0.99,99.15%
98,Units,a_d_c,4385,117,37.48,100.00%
99,Unknown,a_d_c,73002,117,623.95,100.00%
100,VariableType,a_d_c,117,117,1.00,100.00%
101,Web Page,a_d_c,887,117,7.58,100.00%
102,Westernmost Longitude,a_d_c,88,88,0.75,75.21%

### Go back to the Metadata2Data Notebook

* [Metadata To Data](Metadata2Data.ipynb)