### This notebook allows the user to create a directory structure and locally upload the metadata to the MILE2 repository.

In [13]:
import pandas as pd
import os
from os import walk
import shutil
from ipywidgets import *
import ipywidgets as widgets
import requests
from contextlib import closing
import csv
import io
from IPython.display import display

### Now let's select some metadata.

Create a list of subdirectories in the collection directory of MILE2 to select metadata for evaluation

In [14]:
def OrganizationChoices(organization):
    global OrganizationChoice
    global Organization
    Organization=organization
    print("Curating Organization", Organization)
    
def CollectionName(collection):
    global CollectionChoice
    global Collection
    Collection=collection
    print("Collection is named", Collection)
    
def DialectName(dialect):
    global DialectChoice
    global Dialect
    Dialect=dialect
    print("Collection is written in the", Dialect,"dialect")   
    
def metadataLocation(directory):
    global LocationChoice
    global MetadataLocation
    MetadataLocation=directory
    print("The local directory", MetadataLocation,"contains the metadata for evaluation")    
    
w=interactive(OrganizationChoices, organization='')    

w2=interactive(CollectionName, collection='')

w3=interactive(DialectName, dialect='')

w4=interactive(metadataLocation, directory='')    

display(w)
display(w2)
display(w3)
display(w4)

Copy the metadata to the new directory structure.

In [38]:
%cd ../zip
MetadataDestination=os.path.join(Organization,Collection,Dialect,'xml')
os.makedirs(MetadataDestination, exist_ok=True)
os.makedirs(os.path.join('../data',Organization), exist_ok=True)
src_files = os.listdir(MetadataLocation)
for file_name in src_files:
    full_file_name = os.path.join(MetadataLocation, file_name)
    if (os.path.isfile(full_file_name)):
        shutil.copy(full_file_name, MetadataDestination)
shutil.make_archive('../upload/metadata', 'zip', os.getcwd())

/Users/scgordon/MetadataEvaluation/zip

'/Users/scgordon/MetadataEvaluation/upload/metadata.zip'

In [39]:
%cd ../upload 
# Send metadata package, read the response into a dataframe
url = 'http://metadig.nceas.ucsb.edu/metadata/evaluator'
files = {'zipxml': open('metadata.zip', 'rb')}
r = requests.post(url, files=files, headers={"Accept-Encoding": "gzip"})
r.raise_for_status()
EvaluatedMetadataDF = pd.read_csv(io.StringIO(r.text), quotechar='"')

#build filepaths and file names
Filedirectory=os.path.join('../data/',Organization)

Filename='/'+Collection+'_'+Dialect+'_Evaluated.csv.gz'
SimplfiedFilename='/'+Collection+'_'+Dialect+'_EvaluatedSimplified.csv.gz'
FilePath=Filedirectory+Filename
SimplifiedFilePath=Filedirectory+SimplfiedFilename
EvaluatedMetadataDF.insert(3, 'Collection', Collection+'_'+Dialect)

EvaluatedMetadataDF.to_csv(FilePath, mode = 'w', compression='gzip', index=False)

#Change directories, delete upload directory and zip. Delete copied metadata.
%cd ../
shutil.rmtree('upload')
%cd zip
shutil.rmtree(Organization)
%cd ../data

#Create a simplified XPath output
EvaluatedSimplifiedMetadataDF = EvaluatedMetadataDF.copy()
EvaluatedSimplifiedMetadataDF['XPath']=EvaluatedSimplifiedMetadataDF['XPath'].str.replace('/gco:CharacterString', '')
EvaluatedSimplifiedMetadataDF['XPath']=EvaluatedSimplifiedMetadataDF['XPath'].str.replace('/[a-z]+:+?', '/')
EvaluatedSimplifiedMetadataDF['XPath']=EvaluatedSimplifiedMetadataDF['XPath'].str.replace('/[A-Z]+_[A-Za-z]+/?', '/')
EvaluatedSimplifiedMetadataDF['XPath']=EvaluatedSimplifiedMetadataDF['XPath'].str.replace('//', '/')
EvaluatedSimplifiedMetadataDF['XPath']=EvaluatedSimplifiedMetadataDF['XPath'].str.rstrip('//')
EvaluatedSimplifiedMetadataDF.to_csv(SimplifiedFilePath, mode = 'w', compression='gzip', index=False)

/Users/scgordon/MetadataEvaluation/upload
/Users/scgordon/MetadataEvaluation
/Users/scgordon/MetadataEvaluation/zip
/Users/scgordon/MetadataEvaluation/data

In [41]:
FiledirectoryRAD=os.path.join('../data/',Organization)
FilenameRAD='/'+Collection+'_'+Dialect+'_RAD.csv'
FilePathRAD=FiledirectoryRAD+FilenameRAD
group_name = EvaluatedSimplifiedMetadataDF.groupby(['Collection','Record', 'Concept'], as_index=False)
occuranceMatrix=group_name.size().unstack().reset_index()
occuranceMatrix=occuranceMatrix.fillna(0)
occuranceMatrix.columns.names = ['']
pd.options.display.float_format = '{:,.0f}'.format
occuranceMatrix.to_csv(FilePathRAD, mode = 'w', index=False)
occuranceMatrix

,Collection,Record,Abstract,Acknowledgement,Address,AssociatedDIFs,Association,Attribute Definition,Attribute Label,Author / Originator,...,Start Time,Temporal Extent,Theme Keyword,Topic Category,URL,Units,Unknown,VariableType,Web Page,Westernmost Longitude
0,Sample_Sample,dataset_3470.xml,1,2,5,2,2,17,17,1,...,0,1,15,1,1,17,477,1,7,1
1,Sample_Sample,dataset_3484.xml,1,2,5,2,2,5,5,1,...,0,1,6,1,1,5,352,1,7,1
2,Sample_Sample,dataset_3485.xml,1,2,5,2,2,14,14,1,...,0,1,14,1,1,14,429,1,7,1
3,Sample_Sample,dataset_3486.xml,1,2,5,2,2,16,16,1,...,0,1,15,1,1,16,455,1,7,1
4,Sample_Sample,dataset_3508.xml,1,2,5,2,2,10,10,1,...,0,1,10,1,1,10,398,1,7,1
5,Sample_Sample,dataset_3510.xml,1,2,5,2,2,11,11,1,...,0,1,11,1,1,11,408,1,7,1
6,Sample_Sample,dataset_3513.xml,1,2,5,2,2,11,11,1,...,0,1,10,1,1,11,395,1,7,1
7,Sample_Sample,dataset_3514.xml,1,2,5,2,2,10,10,1,...,0,1,9,1,1,10,385,1,7,1
8,Sample_Sample,dataset_3515.xml,1,2,5,2,2,11,11,1,...,0,1,10,1,1,11,395,1,7,1
9,Sample_Sample,dataset_3516.xml,1,2,5,2,2,27,27,1,...,0,1,24,1,1,27,584,1,7,1
10,Sample_Sample,dataset_3517.xml,1,2,5,2,2,248,249,1,...,0,1,91,1,1,249,"1,992",1,7,1
11,Sample_Sample,dataset_3518.xml,1,2,5,2,2,29,29,1,...,0,1,26,1,1,29,605,1,7,1
12,Sample_Sample,dataset_3519.xml,1,2,5,2,2,169,169,1,...,0,1,90,1,1,169,"1,523",1,7,1
13,Sample_Sample,dataset_3520.xml,1,2,5,2,2,14,14,1,...,0,1,17,1,1,14,464,1,7,1
14,Sample_Sample,dataset_3521.xml,1,2,5,2,2,22,22,1,...,0,1,21,1,1,22,537,1,7,1
15,Sample_Sample,dataset_3659.xml,1,2,5,2,2,17,17,1,...,0,1,17,1,1,17,464,1,7,1
16,Sample_Sample,dataset_3662.xml,1,2,5,2,2,174,174,1,...,0,1,91,1,1,174,"1,535",1,7,1
17,Sample_Sample,dataset_3664.xml,1,2,5,2,2,15,15,1,...,0,1,17,1,1,15,472,1,7,1
18,Sample_Sample,dataset_3671.xml,1,2,5,2,2,12,12,1,...,0,1,12,1,1,12,417,1,7,1
19,Sample_Sample,dataset_3672.xml,1,2,5,2,2,12,12,1,...,0,1,11,1,1,12,404,1,7,1
20,Sample_Sample,dataset_3673.xml,1,2,5,2,2,12,12,1,...,0,1,12,1,1,12,417,1,7,1
21,Sample_Sample,dataset_3674.xml,1,2,5,2,2,12,12,1,...,0,1,11,1,1,12,404,1,7,1
22,Sample_Sample,dataset_3687.xml,1,2,5,2,2,269,270,1,...,0,1,268,1,1,270,"2,246",1,7,0
23,Sample_Sample,dataset_3692.xml,1,1,5,2,2,40,40,1,...,0,1,37,1,1,40,725,1,8,1
24,Sample_Sample,dataset_3696.xml,1,2,5,2,2,5,5,1,...,0,1,6,1,1,5,344,1,7,1
25,Sample_Sample,dataset_3698.xml,1,2,5,2,2,27,27,1,...,0,1,25,1,1,27,588,1,7,1
26,Sample_Sample,dataset_3699.xml,1,2,5,2,2,27,27,1,...,0,1,27,1,1,27,607,1,7,1
27,Sample_Sample,dataset_3746.xml,1,2,5,2,2,12,12,1,...,0,1,12,1,1,12,417,1,7,1
28,Sample_Sample,dataset_3821.xml,1,1,5,2,2,20,20,1,...,0,1,21,1,1,20,525,1,7,1
29,Sample_Sample,dataset_3822.xml,1,2,5,2,2,21,21,1,...,0,1,20,1,1,21,528,1,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Sample_Sample,dataset_549122.xml,1,1,5,2,2,34,34,1,...,1,1,23,2,1,34,622,1,8,1
88,Sample_Sample,dataset_558538.xml,1,2,5,2,2,42,42,1,...,0,1,37,1,1,42,760,1,7,1
89,Sample_Sample,dataset_637784.xml,1,2,5,3,3,17,17,1,...,0,1,17,1,1,17,508,1,9,0
90,Sample_Sample,dataset_639016.xml,1,0,5,2,2,25,29,1,...,0,1,19,1,1,29,575,1,7,1
91,Sample_Sample,dataset_639847.xml,1,3,6,4,4,71,88,2,...,0,1,51,1,1,88,951,1,9,0
92,Sample_Sample,dataset_641044.xml,1,1,5,3,3,23,31,1,...,1,1,15,1,1,31,555,1,8,1
93,Sample_Sample,dataset_642974.xml,1,1,5,3,3,31,31,1,...,0,1,19,1,1,31,584,1,8,0
94,Sample_Sample,dataset_643213.xml,1,2,5,3,3,39,39,1,...,0,1,28,1,1,39,658,1,8,0
95,Sample_Sample,dataset_643270.xml,1,1,5,3,3,33,33,1,...,1,1,23,1,1,33,591,1,8,1
96,Sample_Sample,dataset_643316.xml,1,2,5,3,3,23,23,1,...,0,1,20,1,1,23,530,1,8,0
97,Sample_Sample,dataset_643423.xml,1,1,5,3,3,39,39,1,...,0,1,13,1,1,39,593,1,8,0
98,Sample_Sample,dataset_643494.xml,1,2,5,3,3,28,35,1,...,0,1,17,1,1,35,598,1,8,0
99,Sample_Sample,dataset_643578.xml,1,2,5,3,3,14,15,1,...,0,1,13,1,1,15,463,1,8,0
100,Sample_Sample,dataset_643592.xml,1,2,5,3,3,31,31,1,...,0,1,22,1,1,31,598,1,8,0
101,Sample_Sample,dataset_643639.xml,1,1,5,3,3,38,50,1,...,0,1,22,1,1,50,710,1,8,1
102,Sample_Sample,dataset_643809.xml,1,1,5,3,3,33,33,1,...,0,1,18,1,1,33,592,1,8,1
103,Sample_Sample,dataset_644607.xml,1,1,5,3,3,36,36,1,...,0,1,24,1,1,36,633,1,8,0
104,Sample_Sample,dataset_644765.xml,1,1,5,2,2,24,24,1,...,0,1,23,1,0,24,551,1,8,0
105,Sample_Sample,dataset_646143.xml,1,1,5,3,3,18,18,1,...,1,1,18,1,1,18,488,1,8,0
106,Sample_Sample,dataset_646842.xml,1,1,5,2,2,20,20,1,...,0,1,16,1,1,20,488,1,7,0
107,Sample_Sample,dataset_647580.xml,1,1,5,3,3,22,22,1,...,1,1,18,1,1,22,530,1,8,0
108,Sample_Sample,dataset_647606.xml,1,1,5,3,3,26,26,1,...,1,1,20,1,1,26,570,1,8,0
109,Sample_Sample,dataset_647909.xml,1,1,5,3,3,14,14,1,...,1,1,14,1,1,14,458,1,8,0
110,Sample_Sample,dataset_648030.xml,1,1,5,3,3,22,26,1,...,1,1,14,1,1,26,526,1,8,0
111,Sample_Sample,dataset_648543.xml,1,3,6,4,4,71,88,2,...,0,1,53,1,1,88,967,1,9,0
112,Sample_Sample,dataset_648753.xml,1,1,5,3,3,29,29,1,...,0,1,18,1,1,29,567,1,8,0
113,Sample_Sample,dataset_650087.xml,1,1,5,3,3,26,26,1,...,0,1,19,1,1,26,545,1,8,0
114,Sample_Sample,dataset_650135.xml,1,0,5,2,2,30,30,1,...,0,1,21,1,1,30,552,1,7,1
115,Sample_Sample,dataset_650340.xml,1,1,5,3,3,21,21,1,...,0,1,18,1,1,21,513,1,8,0
116,Sample_Sample,dataset_651138.xml,1,2,5,3,3,42,42,1,...,0,1,16,1,1,42,661,1,9,0

In [42]:
FiledirectoryQuickE=os.path.join('../data/',Organization)
FilenameQuickE='/'+Collection+'_'+Dialect+'_QuickE.csv'
FilePathQuickE=FiledirectoryQuickE+FilenameQuickE
group_name = EvaluatedSimplifiedMetadataDF.groupby(['XPath', 'Record'], as_index=False)
QuickEdf=group_name.size().unstack().reset_index()
QuickEdf=QuickEdf.fillna(0)
pd.options.display.float_format = '{:,.0f}'.format
QuickEdf.to_csv(FilePathQuickE, mode = 'w', index=False)
QuickEdf

Record,XPath,dataset_3470.xml,dataset_3484.xml,dataset_3485.xml,dataset_3486.xml,dataset_3508.xml,dataset_3510.xml,dataset_3513.xml,dataset_3514.xml,dataset_3515.xml,...,dataset_647580.xml,dataset_647606.xml,dataset_647909.xml,dataset_648030.xml,dataset_648543.xml,dataset_648753.xml,dataset_650087.xml,dataset_650135.xml,dataset_650340.xml,dataset_651138.xml
0,/@xsi:schemaLocation,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,/acquisitionInformation/instrument,1,1,0,0,1,1,0,0,0,...,4,6,3,3,3,3,2,0,2,3
2,/acquisitionInformation/instrument/description,1,1,0,0,1,1,0,0,0,...,4,6,3,3,3,3,2,0,2,3
3,/acquisitionInformation/instrument/identifier/...,2,2,0,0,2,2,0,0,0,...,8,12,6,6,6,2,4,0,4,6
4,/acquisitionInformation/instrument/identifier/...,1,1,0,0,1,1,0,0,0,...,4,5,3,3,3,0,2,0,2,3
5,/acquisitionInformation/instrument/identifier/...,1,1,0,0,1,1,0,0,0,...,1,1,1,1,1,1,1,0,1,1
6,/acquisitionInformation/instrument/identifier/...,1,1,0,0,1,1,0,0,0,...,4,6,3,3,3,3,2,0,2,3
7,/acquisitionInformation/instrument/identifier/...,1,1,0,0,1,1,0,0,0,...,4,6,3,3,3,3,2,0,2,3
8,/acquisitionInformation/instrument/type,2,2,0,0,2,2,0,0,0,...,8,11,6,6,6,1,4,0,4,6
9,/acquisitionInformation/operation/description,2,2,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,3
10,/acquisitionInformation/operation/identifier/code,2,2,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,3
11,/acquisitionInformation/operation/identifier/c...,2,2,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,3
12,/acquisitionInformation/operation/identifier/c...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
13,/acquisitionInformation/operation/identifier/c...,2,2,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,3
14,/acquisitionInformation/operation/identifier/c...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
15,/acquisitionInformation/operation/parentOperat...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
16,/acquisitionInformation/operation/plan/citatio...,2,2,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,3
17,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
18,/acquisitionInformation/operation/plan/citatio...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,4
19,/acquisitionInformation/operation/plan/citatio...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,4
20,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
21,/acquisitionInformation/operation/plan/citatio...,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,8
22,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
23,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
24,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
25,/acquisitionInformation/operation/plan/citatio...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,4
26,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
27,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
28,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
29,/acquisitionInformation/operation/plan/citatio...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,/metadataMaintenance/contact/contactInfo,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
329,/metadataMaintenance/contact/contactInfo/addre...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
330,/metadataMaintenance/contact/contactInfo/addre...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
331,/metadataMaintenance/contact/contactInfo/addre...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
332,/metadataMaintenance/contact/contactInfo/addre...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
333,/metadataMaintenance/contact/contactInfo/addre...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
334,/metadataMaintenance/contact/contactInfo/addre...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
335,/metadataMaintenance/contact/contactInfo/conta...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
336,/metadataMaintenance/contact/contactInfo/hours...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
337,/metadataMaintenance/contact/contactInfo/onlin...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
338,/metadataMaintenance/contact/contactInfo/onlin...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
339,/metadataMaintenance/contact/contactInfo/phone...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
340,/metadataMaintenance/contact/contactInfo/phone...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
341,/metadataMaintenance/contact/organisationName,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
342,/metadataMaintenance/contact/organisationName/...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
343,/metadataMaintenance/contact/organisationName/...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
344,/metadataMaintenance/contact/organisationName/...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
345,/metadataMaintenance/contact/role,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
346,/metadataMaintenance/contact/role/@codeList,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
347,/metadataMaintenance/contact/role/@codeListValue,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
348,/metadataMaintenance/contact/role/@codeSpace,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
349,/metadataMaintenance/maintenanceAndUpdateFrequ...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
350,/metadataMaintenance/maintenanceAndUpdateFrequ...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
351,/metadataMaintenance/maintenanceAndUpdateFrequ...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
352,/metadataMaintenance/maintenanceAndUpdateFrequ...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
353,/metadataMaintenance/maintenanceNote,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
354,/metadataStandardName,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
355,/metadataStandardVersion,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
356,/referenceSystemInfo/@xlink:href,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
357,/referenceSystemInfo/@xlink:title,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [43]:
FiledirectoryOccurance=os.path.join('../data/',Organization)
FilenameOccurance='/'+Collection+'_'+Dialect+'_Occurance.csv'
FilePathOccurance=FiledirectoryOccurance+FilenameOccurance

group_name = EvaluatedSimplifiedMetadataDF.groupby(['Record', 'Concept'], as_index=False)
occuranceMatrix=group_name.size().unstack().reset_index()
occuranceMatrix=occuranceMatrix.fillna(0)
occuranceSum=occuranceMatrix.sum()
occuranceCount=occuranceMatrix[occuranceMatrix!=0].count()
CollectionName=FilenameOccurance.partition("/")[2].partition("_Occurance.csv")[0]
result = pd.concat([occuranceSum, occuranceCount], axis=1).reset_index()
result.insert(1, 'Collection', CollectionName)
result.insert(4, 'CollectionOccurance%', CollectionName)
result.insert(4, 'AverageOccurancePerRecord', CollectionName)
result.columns = ['Concept', 'Collection', 'ConceptCount', 'RecordCount', 'AverageOccurancePerRecord', 'CollectionOccurance%' ]
NumberOfRecords = result.at[0, 'ConceptCount'].count('.xml')
result['CollectionOccurance%'] = result['RecordCount']/NumberOfRecords
result['CollectionOccurance%'] = pd.Series(["{0:.2f}%".format(val * 100) for val in result['CollectionOccurance%']], index = result.index)
result.at[0, 'ConceptCount'] = NumberOfRecords
result.at[0, 'Concept'] = 'Number of Records'
result['AverageOccurancePerRecord'] = result['ConceptCount']/NumberOfRecords
result['AverageOccurancePerRecord'] = result['AverageOccurancePerRecord'].astype(float)
result[["ConceptCount","RecordCount"]] = result[["ConceptCount","RecordCount"]].astype(int)
result['AverageOccurancePerRecord'] = pd.Series(["{0:.2f}".format(val) for val in result['AverageOccurancePerRecord']], index = result.index)
result.to_csv(FilePathOccurance, mode = 'w', index=False)
result

,Concept,Collection,ConceptCount,RecordCount,AverageOccurancePerRecord,CollectionOccurance%
0,Number of Records,Sample_Sample,117,117,1.00,100.00%
1,Abstract,Sample_Sample,117,117,1.00,100.00%
2,Acknowledgement,Sample_Sample,191,115,1.63,98.29%
3,Address,Sample_Sample,592,117,5.06,100.00%
4,AssociatedDIFs,Sample_Sample,261,117,2.23,100.00%
5,Association,Sample_Sample,261,117,2.23,100.00%
6,Attribute Definition,Sample_Sample,4132,117,35.32,100.00%
7,Attribute Label,Sample_Sample,4385,117,37.48,100.00%
8,Author / Originator,Sample_Sample,125,117,1.07,100.00%
9,Bounding Box,Sample_Sample,88,88,0.75,75.21%
10,Cited Resource Identifier,Sample_Sample,2,2,0.02,1.71%
11,Cited Resource Title,Sample_Sample,1700,117,14.53,100.00%
12,City,Sample_Sample,591,117,5.05,100.00%
13,Contact Instructions,Sample_Sample,468,117,4.00,100.00%
14,Country,Sample_Sample,579,117,4.95,100.00%
15,Data Quality Scope,Sample_Sample,117,117,1.00,100.00%
16,DataType,Sample_Sample,1954,117,16.70,100.00%
17,DimensionsName,Sample_Sample,4385,117,37.48,100.00%
18,Distribution Contact,Sample_Sample,117,117,1.00,100.00%
19,Easternmost Longitude,Sample_Sample,88,88,0.75,75.21%
20,Email,Sample_Sample,589,117,5.03,100.00%
21,End Time,Sample_Sample,9,9,0.08,7.69%
22,Enumerated Domain Value Definition Source,Sample_Sample,571,117,4.88,100.00%
23,Fax,Sample_Sample,468,117,4.00,100.00%
24,Feature Catalogue Citation,Sample_Sample,234,117,2.00,100.00%
25,First Name,Sample_Sample,408,117,3.49,100.00%
26,Geographic Description,Sample_Sample,117,117,1.00,100.00%
27,Hours of Service,Sample_Sample,468,117,4.00,100.00%
28,Instrument,Sample_Sample,268,103,2.29,88.03%
29,Instrument Keyword,Sample_Sample,268,103,2.29,88.03%
...,...,...,...,...,...,...
73,Related Resource Identifier,Sample_Sample,667,117,5.70,100.00%
74,Reprocessing Plan Note,Sample_Sample,117,117,1.00,100.00%
75,Resource Access Constraints,Sample_Sample,234,117,2.00,100.00%
76,Resource Contact,Sample_Sample,125,117,1.07,100.00%
77,Resource Creation/Revision Date,Sample_Sample,117,117,1.00,100.00%
78,Resource Identifier,Sample_Sample,2,2,0.02,1.71%
79,Resource Language,Sample_Sample,117,117,1.00,100.00%
80,Resource Lineage,Sample_Sample,117,117,1.00,100.00%
81,Resource Long Name,Sample_Sample,117,117,1.00,100.00%
82,Resource Status,Sample_Sample,117,117,1.00,100.00%
83,Resource Title,Sample_Sample,117,117,1.00,100.00%
84,Resource Type,Sample_Sample,117,117,1.00,100.00%
85,Resource Update Frequency,Sample_Sample,117,117,1.00,100.00%
86,Resource Use Constraints,Sample_Sample,117,117,1.00,100.00%
87,Responsibility,Sample_Sample,1962,117,16.77,100.00%
88,Rights,Sample_Sample,117,117,1.00,100.00%
89,Role,Sample_Sample,819,117,7.00,100.00%
90,Southernmost Latitude,Sample_Sample,88,88,0.75,75.21%
91,Spatial Extent,Sample_Sample,88,88,0.75,75.21%
92,Standard Name Vocabulary,Sample_Sample,571,117,4.88,100.00%
93,Start Time,Sample_Sample,9,9,0.08,7.69%
94,Temporal Extent,Sample_Sample,117,117,1.00,100.00%
95,Theme Keyword,Sample_Sample,3106,117,26.55,100.00%
96,Topic Category,Sample_Sample,118,117,1.01,100.00%
97,URL,Sample_Sample,116,116,0.99,99.15%
98,Units,Sample_Sample,4385,117,37.48,100.00%
99,Unknown,Sample_Sample,73002,117,623.95,100.00%
100,VariableType,Sample_Sample,117,117,1.00,100.00%
101,Web Page,Sample_Sample,887,117,7.58,100.00%
102,Westernmost Longitude,Sample_Sample,88,88,0.75,75.21%

In [44]:
# Create dataframe of just the elements that do not have a version of Not Provided for their content
ContentProvidedDF = EvaluatedSimplifiedMetadataDF[EvaluatedSimplifiedMetadataDF.Content!=("Not provided" or "Not%20provided")]

if len(ContentProvidedDF)==len(EvaluatedSimplifiedMetadataDF):
   print("No elements contain a variant of 'Not provided' in their content for this collection")
   
else:
    print("Secondary data products, RAD, QuickE, Occurance, being created for collection for all elements that contain a variant of 'Not provided' in their content and a set of products for the elements that do not contain a variant of 'Not provided' in their content")
    
    # Create dataframe of just the elements that do not have a version of Not Provided for their content
    ContentProvidedDF = EvaluatedSimplifiedMetadataDF[EvaluatedSimplifiedMetadataDF.Content!=("Not provided" or "Not%20provided")]

    # Create secondary data products: RAD, QuickE, Occurance for both provided and not provided content.

    #not provided RAD
    FiledirectoryRADnotProvided=os.path.join('../data/',Organization)
    FilenameRADnotProvided='/'+Collection+'_'+Dialect+'_NotProvided_RAD.csv'
    FilePathRADnotProvided=FiledirectoryRADnotProvided+FilenameRADnotProvided
    group_namenotProvided = ContentNotProvidedDF.groupby(['Collection','Record', 'Concept'], as_index=False)
    occuranceMatrixnotProvided=group_namenotProvided.size().unstack().reset_index()
    occuranceMatrixnotProvided=occuranceMatrixnotProvided.fillna(0)
    pd.options.display.float_format = '{:,.0f}'.format
    occuranceMatrixnotProvided.to_csv(FilePathRADnotProvided, mode = 'w', index=False)

    #Provided RAD
    FiledirectoryRADProvided=os.path.join('../data/',Organization)
    FilenameRADProvided='/'+Collection+'_'+Dialect+'_Provided_RAD.csv'
    FilePathRADProvided=FiledirectoryRADProvided+FilenameRADProvided
    group_nameProvided = ContentProvidedDF.groupby(['Collection','Record', 'Concept'], as_index=False)
    occuranceMatrixProvided=group_nameProvided.size().unstack().reset_index()
    occuranceMatrixProvided=occuranceMatrixProvided.fillna(0)
    pd.options.display.float_format = '{:,.0f}'.format
    occuranceMatrixProvided.to_csv(FilePathRADProvided, mode = 'w', index=False)

    #not provided QuickE
    FiledirectoryQuickEnotProvided=os.path.join('../data/',Organization)
    FilenameQuickEnotProvided='/'+Collection+'_'+Dialect+'_NotProvided_QuickE.csv'
    FilePathQuickEnotProvided=FiledirectoryQuickEnotProvided+FilenameQuickEnotProvided
    group_namenotProvided = ContentNotProvidedDF.groupby(['XPath', 'Record'], as_index=False)
    QuickEdfnotProvided=group_namenotProvided.size().unstack().reset_index()
    QuickEdfnotProvided=QuickEdfnotProvided.fillna(0)
    pd.options.display.float_format = '{:,.0f}'.format
    QuickEdfnotProvided.to_csv(FilePathQuickEnotProvided, mode = 'w', index=False)

    #Provided QuickE
    FiledirectoryQuickEProvided=os.path.join('../data/',Organization)
    FilenameQuickEProvided='/'+Collection+'_'+Dialect+'_Provided_QuickE.csv'
    FilePathQuickEProvided=FiledirectoryQuickEProvided+FilenameQuickEProvided
    group_nameProvided = ContentProvidedDF.groupby(['XPath', 'Record'], as_index=False)
    QuickEdfProvided=group_nameProvided.size().unstack().reset_index()
    QuickEdfProvided=QuickEdfProvided.fillna(0)
    pd.options.display.float_format = '{:,.0f}'.format
    QuickEdfProvided.to_csv(FilePathQuickEProvided, mode = 'w', index=False)

    #Provided Occurance
    FiledirectoryOccurance=os.path.join('../data/',Organization)
    FilenameOccurance='/'+Collection+'_'+Dialect+'_Provided_Occurance.csv'
    FilePathOccurance=FiledirectoryOccurance+FilenameOccurance

    group_name = ContentProvidedDF.groupby(['Record', 'Concept'], as_index=False)
    occuranceMatrix=group_name.size().unstack().reset_index()
    occuranceMatrix=occuranceMatrix.fillna(0)
    occuranceSum=occuranceMatrix.sum()
    occuranceCount=occuranceMatrix[occuranceMatrix!=0].count()
    CollectionName=FilenameOccurance.partition("/")[2].partition("_Provided_Occurance.csv")[0]
    result = pd.concat([occuranceSum, occuranceCount], axis=1).reset_index()
    result.insert(1, 'Collection', CollectionName)
    result.insert(4, 'CollectionOccurance%', CollectionName)
    result.insert(4, 'AverageOccurancePerRecord', CollectionName)
    result.columns = ['Concept', 'Collection', 'ConceptCount', 'RecordCount', 'AverageOccurancePerRecord', 'CollectionOccurance%' ]
    NumberOfRecords = result.at[0, 'ConceptCount'].count('.xml')
    result['CollectionOccurance%'] = result['RecordCount']/NumberOfRecords
    result['CollectionOccurance%'] = pd.Series(["{0:.2f}%".format(val * 100) for val in result['CollectionOccurance%']], index = result.index)
    result.at[0, 'ConceptCount'] = NumberOfRecords
    result.at[0, 'Concept'] = 'Number of Records'
    result['AverageOccurancePerRecord'] = result['ConceptCount']/NumberOfRecords
    result['AverageOccurancePerRecord'] = result['AverageOccurancePerRecord'].astype(float)
    result[["ConceptCount","RecordCount"]] = result[["ConceptCount","RecordCount"]].astype(int)
    result['AverageOccurancePerRecord'] = pd.Series(["{0:.2f}".format(val) for val in result['AverageOccurancePerRecord']], index = result.index)
    result.to_csv(FilePathOccurance, mode = 'w', index=False)
   
    #Not provided Occurance
    FiledirectoryOccurance=os.path.join('../data/',Organization)
    FilenameOccurance='/'+Collection+'_'+Dialect+'_NotProvided_Occurance.csv'
    FilePathOccurance=FiledirectoryOccurance+FilenameOccurance

    group_name = ContentNotProvidedDF.groupby(['Record', 'Concept'], as_index=False)
    occuranceMatrix=group_name.size().unstack().reset_index()
    occuranceMatrix=occuranceMatrix.fillna(0)
    occuranceSum=occuranceMatrix.sum()
    occuranceCount=occuranceMatrix[occuranceMatrix!=0].count()
    CollectionName=FilenameOccurance.partition("/")[2].partition("_NotProvided_Occurance.csv")[0]
    result = pd.concat([occuranceSum, occuranceCount], axis=1).reset_index()
    result.insert(1, 'Collection', CollectionName)
    result.insert(4, 'CollectionOccurance%', CollectionName)
    result.insert(4, 'AverageOccurancePerRecord', CollectionName)
    result.columns = ['Concept', 'Collection', 'ConceptCount', 'RecordCount', 'AverageOccurancePerRecord', 'CollectionOccurance%' ]
    NumberOfRecords = result.at[0, 'ConceptCount'].count('.xml')
    result['CollectionOccurance%'] = result['RecordCount']/NumberOfRecords
    result['CollectionOccurance%'] = pd.Series(["{0:.2f}%".format(val * 100) for val in result['CollectionOccurance%']], index = result.index)
    result.at[0, 'ConceptCount'] = NumberOfRecords
    result.at[0, 'Concept'] = 'Number of Records'
    result['AverageOccurancePerRecord'] = result['ConceptCount']/NumberOfRecords
    result['AverageOccurancePerRecord'] = result['AverageOccurancePerRecord'].astype(float)
    result[["ConceptCount","RecordCount"]] = result[["ConceptCount","RecordCount"]].astype(int)
    result['AverageOccurancePerRecord'] = pd.Series(["{0:.2f}".format(val) for val in result['AverageOccurancePerRecord']], index = result.index)
    result.to_csv(FilePathOccurance, mode = 'w', index=False)
print("Good bye!")

No elements contain a variant of 'Not provided' in their content for this collection
Good bye!

### Combine different types of evaluated data to compare between collections or observe trends over time

* [Combine_Data](Combine_Data.ipynb)